export CF_HOME=$PWD
export PROJECT_HOME=$PWD
export GOOGLE_PROJECT=pa-yrampuria
export GOOGLE_ZONE=us-central1-f
source .env-docker
export DOCKER_MACHINE_IP=$(echo $DOCKER_HOST | sed 's#tcp://##;s/:.*$//')
